# Estado da aplicação
log_impressoes.txt
**/log_impressoes.txt

sequence.txt
**/sequence.txt
**/sequence.txt.tmp
*.tmp

# Maven
target/
**/target/

# IntelliJ IDEA
.idea/
*.iml
out/

# macOS
.DS_Store